/* Dylan Silk */

/* Style sheet for index.html */
* {
    box-sizing: border-box;
}

@font-face {
    font-family: slkscr;
    src: url(../font/slkscr.ttf);
}

@font-face {
    font-family: slkscrb;
    src: url(../font/slkscrb.ttf);
}

body {
    margin: 0;
    font-family: slkscr;
    background-color: #141315;
}

.navbar {
    width: 100%;
    overflow: hidden;
    background-color: #5A515C;
}

.navbar a {
    float: left;
    display: block;
    color: #D1D9E3;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #6A606D;
}

.stub {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 2% 5% 2% 5%;
    background-color: #302D32;
    border-radius: 1%;
    width: 90%;
}

.text {
    margin: 2% 2%;
    background-color:#3E3940;
    color: #D1D9E3;
}
